<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcloud.start.user.dao.SysAuthorityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springcloud.start.user.entity.po.SysAuthority">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="order_num" property="orderNum" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, name, description, order_num, created_time, updated_time, created_by, updated_by
    </sql>
    <select id="getByIds" resultType="com.springcloud.start.user.entity.po.SysAuthority">
        select <include refid="Base_Column_List"></include> from sys_Authority where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

</mapper>
