<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="PROJECT_NAME" source="spring.application.name"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
		<pattern>%d %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{30}) -[%file:%line]- %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--按照每天生成日志文件 
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/%d{yyyy-MM-dd}/${PROJECT_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
            <encoder>
                <pattern>%d %green([%thread]) %highlight(%-5level) %boldMagenta(%logger) -[%file:%line]- %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
    </appender>
    -->


    <!-- logstash远程日志配置
    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>172.26.105.27:4568</destination>
        <encoder charset="UTF-8"
                 class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "app":"${PROJECT_NAME}",
                        "date":"%d{yyyy-MM-dd}",
                        "time": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                        "level": "%-5level",
                        "logger": "%logger",
                        "msg": "%msg"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
     -->

    <!-- 开发环境，只控制台输出 -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <!-- 测试环境，生成日志文件 -->
    <!-- <springProfile name="dev">
        <root level="${LOG_ROOT}">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile> -->
    <!-- 生产环境，生成日志和发送到logstash -->
    <!-- <springProfile name="prd">
        <root level="${LOG_ROOT}">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STASH"/>
        </root>
    </springProfile> -->

</configuration>
